.vscode/settings.json
__pycache__/main.cpython-313.pyc
package-lock.json
package.json
node_modules/.package-lock.json
node_modules/tailwindcss/index.css
node_modules/tailwindcss/LICENSE
node_modules/tailwindcss/package.json
node_modules/tailwindcss/preflight.css
node_modules/tailwindcss/README.md
node_modules/tailwindcss/theme.css
node_modules/tailwindcss/utilities.css
node_modules/tailwindcss/dist/chunk-4WXWQT6Y.mjs
node_modules/tailwindcss/dist/chunk-G32FJCSR.mjs
node_modules/tailwindcss/dist/chunk-HTB5LLOP.mjs
node_modules/tailwindcss/dist/colors-b_6i0Oi7.d.ts
node_modules/tailwindcss/dist/colors.d.mts
node_modules/tailwindcss/dist/colors.d.ts
node_modules/tailwindcss/dist/colors.js
node_modules/tailwindcss/dist/colors.mjs
node_modules/tailwindcss/dist/default-theme.d.mts
node_modules/tailwindcss/dist/default-theme.d.ts
node_modules/tailwindcss/dist/default-theme.js
node_modules/tailwindcss/dist/default-theme.mjs
node_modules/tailwindcss/dist/flatten-color-palette.d.mts
node_modules/tailwindcss/dist/flatten-color-palette.d.ts
node_modules/tailwindcss/dist/flatten-color-palette.js
node_modules/tailwindcss/dist/flatten-color-palette.mjs
node_modules/tailwindcss/dist/lib.d.mts
node_modules/tailwindcss/dist/lib.d.ts
node_modules/tailwindcss/dist/lib.js
node_modules/tailwindcss/dist/lib.mjs
node_modules/tailwindcss/dist/plugin.d.mts
node_modules/tailwindcss/dist/plugin.d.ts
node_modules/tailwindcss/dist/plugin.js
node_modules/tailwindcss/dist/plugin.mjs
node_modules/tailwindcss/dist/resolve-config-BIFUA2FY.d.ts
node_modules/tailwindcss/dist/resolve-config-QUZ9b-Gn.d.mts
node_modules/tailwindcss/dist/types-B254mqw1.d.mts
